    <header id="top">
      <div class="bg-color">
        <div class="navbar transparent navbar-inverse navbar-static-top hr">
    
    <div class="container">
      <div class="navbar-brand logo"><img style="height:30px;float:left" src="images/bloomchatlogo.png" /></div>
    <div class="navbar-brand-right">
    </div>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav mineul" style="font-size:17px;margin-top:9px; color:white;">
               <li><a href="#">For businesses</a></li>
               <li><a href="#">Contact Us</a></li>
            </ul>

        </div>
    </div>
</div>
        <div class="top section-padding">
          

                <div class="content">
          <div class="container">
            <div class="row">

              <div class="col-sm-7 col-md-7">
                <div class="content">
                  <div id="rotate-demo1" class="rotate" data-rotate-interval="1500" data-rotate-animate="fadeInDown,fadeOutDown">
                  <h2>Connect to <span class="rotate-arena"></span></h2>
                <ul>
                    <li>your bakery</li>
                    <li>your hardware store</li>
                    <li>your favorite restaurant</li>
                    <li>your library</li>
                    <li>your hair salon</li>
                    <li>your diner</li>
                    <li>your dance club</li>
                    <li>your gym</li>
                    <li>your community</li>
                    <li>the world</li>
                </ul>
              </div>
                  
                  <div class="button" id="download-app1">
                    <a href="#download" class="btn btn-default btn-lg custom-btn"><i class="fa fa-cloud-download"></i>Download App</a>
                  </div> <!-- end .button -->
                </div> <!-- end .content -->
              </div> <!-- end .top > .container> .row> .col-md-7 -->

              <div class="col-sm-5 col-md-5">
                <div class="photo-slide">
                 <div id="carousel" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1" class=""></li>
                    <li data-target="#carousel" data-slide-to="2" class=""></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="item">
                      <img src="images/phone.png" alt="">
                    </div>
                    <div class="item active left">
                      <img src="images/phone.png" alt="">
                    </div>
                    <div class="item next left">
                      <img src="images/phone.png" alt="">
                    </div>
                  </div> <!-- end .carousel-inner -->
                </div> <!-- end #carousel -->
                </div> <!-- end .photo-slide -->
              </div> <!-- end .top > .container> .row> .col-md-5 -->

            </div>  <!--end .top> .container> .row -->
          </div> <!-- end .top> .container -->
        </div> <!-- end .top -->
      </div> <!-- end .bg-color -->
    </header>
    <!-- ====== End Header Section ====== -->
    <section class="copyright dark-bg">
      <div class="container">
        <img style="height:30px;float:left" src="images/bloomchatlogo.png" />
        <p>&copy; 2014 <a href="#">BloomChat</a>, All Rights Reserved</p>
      </div> <!-- end .container -->
    </section>