<div class = "maincontainer">
  <div class="row">
    <div class="col-md-8">
      <div class = "innercontainer">
        <h1>Connect to!</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class = "innercontainer">
        
      </div>
    </div>
  </div>
</div>