@import "bootstrap-sprockets";
@import "bootstrap";

.customnav {
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body { 
  background: url(http://vladromanov.com/Files/BloomChat/img/cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background:transparent;
}

.customfoot {
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}