// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.maincontainer{
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 1200px;
}

.innercontainer{
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  max-width: 1200px;
  margin-right: 0px;
}