<!-- Footer -->
<div class = "customfooter">
  <a class="navbar-brand" href="#">
    <img alt="Brand" style="height:100%" src="http://vladromanov.com/Files/BloomChat/img/bloomchatlogo.png">
  </a>
  Copyright @ BloomChat 2015
</div>